
<% const importancia = ["Alto", "Medio", "Bajo"] %>
<% const estatus = ["Planficación", "Análisis", "Diseño","Desarrollo", "Pruebas","Mantenimiento"] %>

<% if (proyectos=="") { %>
    <form action="crearProyecto" method="POST">
<% } else { %>
    <form action="/proyectos/editarProyecto" method="POST">
<%}%>
    <input type="hidden" name="_csrf" value="<%= csrfToken %>" >

    <fieldset>  
        <legend>Datos del proyecto</legend>
            <input id="id" name="id" type="hidden" value="<%= proyectos.id_proyecto %>">
            <label for="nombre">Nombre: </label>
            <input id="nombre" name="nombre" maxlength="40" type="text" required>
            <br>
            <label for="descripcion">Descripción: </label>
            <input placeholder="¿Qué se va a hacer?" id="descripcion" name="descripcion" maxlength="128" type="text" required>
            <br>
            <% if (proyectos=="") { %>
                <div class="multipleSelection">
                    <div class="selectBox"
                        onclick="showCheckboxes()">
                        <select>
                            <option>Colaboradores</option>
                        </select>
                    <div class="overSelect"></div>
                    </div>
                    <div id="checkBoxes">
                        <% for (let e of empleados) { %>
                            <input type="checkbox" id="empleados" name="empleados" value="<%= e.id_empleado %>">
                            <label for="empleados"><%= e.nombre %></label>
                        <% } %>
                    </div>
                </div>
            <% } else { %>
                <%}%>
                <% if (!(proyectos=="")) { %>
                    <div class="multipleSelection">
                        <div class="selectBox"
                            onclick="showCheckboxes()">
                            <select>
                                <option>Agregar colaboradores</option>
                            </select>
                        <div class="overSelect"></div>
                        </div>
                        <div id="checkBoxes">
                            <% for (let t of registrados) { %>
                                <input type="checkbox" id="empleados" name="empleados" value="<%= t.id_empleado %>">
                                <label for="empleados"><%= t.nombre %></label>
                            <% } %>
                        </div>
                    </div>
                <% } else { %>
                    <%}%>
                    <% if (!(proyectos=="")) { %>
                        <div class="multipleSelection">
                            <div class="selectBox"
                                onclick="showCheckboxes()">
                                <select>
                                    <option>Eliminar colaboradores</option>
                                </select>
                            <div class="overSelect"></div>
                            </div>
                            <div id="checkBoxes">
                                <% for (let n of no_registrados) { %>
                                    <input type="checkbox" id="empleados" name="empleados" value="<%= n.id_empleado %>">
                                    <label for="empleados"><%= n.nombre %></label>
                                <% } %>
                            </div>
                        </div>
                    <% } else { %>
                        <%}%>
            <label for="stack">Stack de tecnologías:</label>
            <input placeholder="¿Qué tecnologías se van a utilizar?" id="stack" name="stack" maxlength="128" type="text" required>
            <br>
            <!-- <div class="input-field col s12"> -->
                <label for="importancia">Importancia:</label>
                <select name="importancia" id="importancia" required>
                    <option value="" disabled selected>¿Que prioridad le das al proyecto?</option>
                    <% for (let i of importancia) { %>
                        <option value="<%= i %>"><%= i %></option>
                    <% } %>
                </select>
                <br>
                
            <!-- </div> -->
            <!-- <div class="input-field col s12"> -->
                <label for="estatus">Estatus:</label>
                <select name="estatus" id="estatus" required>
                    <option value="" disabled selected>¿En qué etapa de desarrollo se encuentra el proyecto?</option>
                    <% for (let e of estatus) { %>
                        <option value="<%= e %>"><%= e %></option>
                    <% } %>
                </select>
                <br>
            <!-- </div> -->
            <label for="imagen"> Imagen: </label>       
            <input placeholder="Añade una imagen representativa del proyecto" id="imagen" name="imagen" type="text" required> 
    </fieldset>
    <% if (proyectos=="") { %>
        <input type="submit" class="btn btn-success" value="<%= titulo %>" onmouseover = "checkOne()">
    <% } else { %>  
        <input type="submit" class="btn btn-success" value="<%= titulo %>">
    <%}%>
    <br>
    <script src="/js/checkbox.js"></script>
    <script src="/js/checkedone.js"> </script>
</form>