<form action="crearReporte" method="POST">

    <input type="hidden" name="_csrf" id="_csrf" value="<%= csrfToken %>" >
    <input type="hidden" name="csrf_" id="csrf_" value="<%= csrfToken %>" >
<fieldset>
    <legend>Datos del reporte</legend>

    <div class="input-field">

    <label for="fecha_inicio"> Fecha de inicio: </label>    
    <input id="fecha_inicio" name="fecha_inicio" type="date" required> 
    <label for="fecha_fin"> Fecha de corte: </label>    
    <input id="fecha_fin" name="fecha_fin" type="date" required> 
    
    </div>
    <br><br>
    <h5>Personal</h5>
    <table>
        <tr>
            <td><label for="completo">Tiempo completo: </label></td>
            <td>5</td>
            <td><input id="completo" name="completo" min="0" max="100" type="int" required></td>
        </tr>
        <tr>
            <td><label for="medio">Tiempo medio: </label></td>
            <td>6</td>
            <td><input id="medio" name="medio" min="0" max="100" type="int" required></td>
        </tr>
        <tr>
            <td><label for="horas_ausencia_">horas de ausencia: </label></td>
            <td>35</td>
            <td><input id="horas_ausencia_" name="horas_ausencia_" min="0" max="100" type="int" required></td>
        </tr>
        <tr>
            <td><label for="proporcion_horas">Eficiencia: </label></td>
            <td>85</td>
            <td><input placeholder="85% " id="proporcion_horas" name="proporcion_horas" min="50" max="100" type="int" required></td>
        </tr>
    </table>
    <br><br>
    <div id="lista_proyectos">
        <table>
            <% let proyectos = ['Proyecto 1', 'Proyecto 2']; %>
            <tr>
                <th>Proyectos</th>
                <th>Horas hombre</th>
                <!-- <th>Horas ajustadas</th> -->
            </tr>
            <% if (proyectos.length > 0) { %>
                    <% for (let  p of proyectos) { %>
                        <tr>
                        <td>
                        <p><%= p %></p>
                        </td>
                        <td>horas</td>
                        <td><label for="proyectos_horas_adj"></label>
                        <input placeholder="500" id="proyectos_horas_adj" name="proyectos_horas_adj" type="int" required></td></td> 
                        </tr>
                    <% } %>
                
                <% } else { %>
                    <h2>No hay proyectos registrados</h2>
                <% } %> 
            <tr>
                <% let horasajutadas = 220 %>
                <td>Total:</td>
                <td>horas suma</td>
                <td><%= horasajutadas %></td>
            </tr>
        </table>
    </div>

    <br>
    
    <div id="suma_completo">
    <table>
        <tr>
            <th>Valores</th>
            <th>Horas</th>
        </tr>
            <tr>
                    <% var completo = 0 %>
                    <td>Tiempo completo</td>
                    <td><label for="suma_completo"></label>
                        <%= value1= completo * 35 %> </td>
            </tr>
        <tr>
            <% var medio = 0 %>
            <td>Tiempo medio</td>
            <td><label for="suma_medio"></label>
                <%= value2= medio * 18%></td>
        </tr>
        <tr>
            <td>Horas base</td>
            <td><label for="horas_base"></label>
                <%= horasbase= value1 + value2 %></td>
            <td><int id="horas_base" name="horas_base" type="int"></td>
        </tr>
        <tr>
            <td>Horas ausencia</td>
            <td><label for="horas_ausencia"></label>
                <%= horas_ausencia=0 %></td>
            <td><int id="horas_ausencia" name="horas_ausencia" type="int"></td>
        </tr>
        <tr>
            <td>Horas habiles</td>
            <td><label for="horas_base"></label>
                <%= horasesperadas= horasbase - horas_ausencia%></td>
        </tr>
    </table>
    </div>

    <!-- <div id="horas_hombre">
    <table>
        <tr>
            <td>Horas hombre</td>
            <td><label for="horas_hombre"></label>
                <%= horas_hombre=horasajutadas %></td>
            <td><int id="horas_hombre" name="horas_hombre" type="int"></td>
        </tr>
        <tr>
            <% var proporcion_horas = horasajutadas/horasesperadas %>
            <% verdadero= 95/100 %>
            <td>Efectividad ajustada</td>
            <td><label for="Efectividad_ajustada"></label>
                <%= efectividad = (proporcion_horas/verdadero).toFixed(2) %> </td>
    </table>
    </div> -->
    
</fieldset>
<br>
<input type="submit" class="btn btn-success" value="Generar">

</form>
