<% if (tareas=="") { %>
    <form action="crearTarea" method="POST">
<% } else { %>
    <form action="/tareas/editarTarea" method="POST">
<%}%>
    <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
    <fieldset>
        <legend>Datos de la tarea</legend>
        <% if (tareas=="") { %>
            <div class="multipleSelection">
                <div class="selectBox" 
                        onclick="showCheckboxes()">
                            <select>
                                <option>Colaboradores</option>
                            </select>
                    <div class="overSelect"></div>
                </div>
                <div id="checkBoxes">
                    <% for (let e of empleados) { %>
                        <input type="checkbox"  id="empleados" name="empleados" value="<%= e.id_empleado %>">
                        <label for="empleados"><%= e.nombre %></label>  
                    <% } %> 
                </div>
            </div>
            <% } else { %>
                <%}%>
            <div>
                <select name="proyectos" id="proyectos" required>
                    <option value="" disabled selected>Etiqueta</option>
                    <% for (let p of proyectos) { %>
                        <option value="<%= p.id_proyecto %>"><%= p.nombre %></option>
                    <% } %>
                </select>
                <label for="proyectos">Etiquetas</label>
            </div>
            <% console.log(tareas.id_tarea) %>
            <input id="id" name="id" type="hidden" value="<%= tareas.id_tarea %>">
            <label for="descripcion">Descripción: </label>
            <input placeholder="Junta" id="descripcion" name="descripcion" maxlength="40" type="text" required>
            <label for="duracion">Tiempo (hrs): </label>
            <input placeholder=" 0.15" id="duracion" name="duracion" type="number" min = "0" max = "10" required>
            <label for="fecha"> Fecha: </label>    
            <input id="fecha" name="fecha" type="date" min="2000-01-01" required> 
            
    </fieldset>
    <br>
    <input type="submit" class="btn btn-success"value="<%= titulo %>">
    <script src="/js/checkbox.js"></script>
</form>