<% if (tareas=="") { %>
    <form action="crearTarea" method="POST">
    
<% } else { %>
    <form action="/tareas/editarTarea" name = "crear" id= "crear" method="POST">
<%}%>

<input type="hidden" name="_csrf" id="_csrf" value="<%= csrfToken %>" >
<input id="id" name="id" type="hidden" value="<%= tareas.id_tarea %>">

<fieldset>
    
    <legend class="text-white">Datos de la tarea</legend>
    <div class="pl-4"> 
        <% if (tareas=="") { %>
            <div class="py-3">
                <div class="dropdown pb-2">
                    <button class="btn btn--radius-2 btn-secondary dropdown-toggle" type="button" onclick="showCheckboxes()">
                        Añadir Colaboradores
                    </button>
                </div>
                <div id="checkBoxes" aria-expanded="true" >
                    <!-- rs-select2 js-select-simple select--no-search -->
                    <div class="row list-group-check" >
                        <% for (let e of empleados) { %>
                            <% if (!e.is_active) { %>
                                <div class="col-4 ">
                                    <div class="badge badge-light py-1 m-1  d-block"  >
                                    <input type="checkbox" class=" align-middle" style="display:-webkit-inline-box ;" id="empleados" name="empleados" value="<%= e.id_empleado %>">
                                    <label for="empleados"  ><%= e.nombre %></label>
                                    </div>
                                </div>
                            <% } %>
                        <% } %> 
                    </div>
                </div>
            </div>
        <% } else { %>
            <div class="py-3">
                <div class="dropdown pb-2">
                    <button class="btn btn-secondary dropdown-toggle" type="button" onclick="showCheckboxes()">
                        Eliminar Colaboradores 
                    </button>
                </div>
                <div id="checkBoxes"  aria-expanded="false" >
                    <div class="row list-group-check" >
                        <% for (let t of registrados) { %>
                            <% if (t.id_empleado == idUsuario){ %>
                                
                            <% } else if (!t.is_active) { %>
                                <div class="col-4 ">
                                    <div class="badge badge-light py-1 m-1  d-block"  >
                                        <input type="checkbox"  class=" align-middle" style="display:-webkit-inline-box ;" id="registrados" name="registrados" value="<%= t.id_empleado %>">
                                        <label for="registrados" class="pl-3"><%= t.nombre %></label>
                                    </div>
                                </div>
                            <% } %>
                        <% } %>  
                    </div>
                </div>
            </div>   
            <div class="py-1">
                <div class="dropdown pb-2">
                    <button class="btn btn-secondary dropdown-toggle" type="button" onclick="showCheckboxes2()">
                        Agregar Colaboradores
                    </button>
                    <div class="overSelect"></div>
                </div>
                <div id="checkBoxes2"  aria-expanded="false" >
                    <div class="row list-group-check" >
                        <% for (let n of no_registrados) { %>
                            <div class="col-4 ">
                                <div class="badge badge-light py-1 m-1  d-block"  >
                                    <input type="checkbox" class=" align-middle" style="display:-webkit-inline-box ;" id="no_registrados" name="no_registrados" value="<%= n.id_empleado %>">
                                    <label for="no_registrados"><%= n.nombre %></label>
                                </div>
                            </div>
                        <% } %>  
                    </div>
                </div>
            </div>                
        <%}%>
        <br>
        <div class="pb-3">

            <table class="table border-dark text-white " style="border-bottom-width: 0px !important;">
                <tbody>
                    <tr>
                        <th style="border-bottom-width: 0px !important; border-top-width: 0cm !important;" scope="row"><label class="pr-3" for="duracion">Etiqueta:  </label></th>
                                    <td style="border-bottom-width: 0px !important; border-top-width: 0cm !important;">
                                        <select class="btn btn-secondary dropdown-toggle" type="button" name="proyectos" id="proyectos" required>
                                            
                                            <option value="" disabled selected>Etiquetas</option>
                                            <% for (let p of proyectos) { %>
                                                <div class="text-black">
                                                <option value="<%= p.id_proyecto %>"><%= p.nombre %></option>
                                                </div>
                                            <% } %>
                                        </select>
                                    </td>
                    </tr>
                    <tr >
                        <th scope="row" style="border-bottom-width: 0px !important; border-top-width: 0cm !important;"><label for="descripcion">Descripción: </label></th>
                        <td style="border-bottom-width: 0px !important; border-top-width: 0cm !important;"><input placeholder="Junta" id="descripcion" name="descripcion" maxlength="40" type="text"  value="<%= tareas.descripcion%>" required></td>
                    </tr>
                    <tr>
                        <th scope="row" style="border-bottom-width: 0px !important; border-top-width: 0cm !important;"><label for="fecha"> Fecha: </label></th>
                        <td style="border-bottom-width: 0px !important; border-top-width: 0cm !important;"><input id="fecha" name="fecha" type="date" min="2000-01-01" required> </td>
                    </tr>
                    <tr>
                        <th scope="row" style="border-bottom-width: 0px !important; border-top-width: 0cm !important;"><label for="duracion">Tiempo (hrs): </label></th>
                        <td style="border-bottom-width: 0px !important; border-top-width: 0cm !important;">   <input placeholder=" 0.15" id="duracion" name="duracion" type="number" min = "0" max = "10"  step= "0.1"  value="<%= tareas.duracion %>" required></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</fieldset>

<div class="pl-4"> 
    <% if (tareas=="") { %>
        <input type="submit" class="btn btn-success btn-lg ml-5 d-block mx-auto mt-3" value="<%= titulo %>">
    <% } else { %>  
        <div class="col-sm 5" style="display: -webkit-box;; box-sizing: content-box;">
            <input type="submit" class="btn btn-success btn-lg  mx-auto my-2 " style="display: -webkit-box; box-sizing: content-box;" value="Registrar Cambios">
            <button type="button" class="btn btn-danger   mx-auto my-2" style="display: -webkit-box; box-sizing: content-box;" data-toggle="modal" data-target="#exampleModal" >
                Eliminar Tarea
            </button>
        </div>

        
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-white" id="exampleModalLabel">Eliminar Tarea</h5>
                        <button type="button" class="btn-close btn-close-white" data-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-white">
                        <p> ¿Estás seguro de que quieres eliminar esta tarea?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <a href="/tareas/delete/<%= tareas.id_tarea %>" class="btn btn-danger" id="eliminar">Eliminar</a>
                    </div>
                </div>
            </div>
        </div>
    <% } %>
</div>     

<script src="/js/checkbox.js"></script>
</form>