<%- include('includes/head.ejs') %>
<%- include('includes/nav.ejs') %>   
<%- include('includes/sidebar.ejs') %>   

<h1 class=" pt-1 font-weight-bold">Colaboradores</h1>
<div class="col-sm over m-2">
    <div class="p-2">
        <div class="row">
            <% for (let  p of colaboradores) { %>
                <div class="col-sm-3 pt-1 over">
                    <a href="/colaboradores/perfil/<%= p.id_empleado %>"><img src="<%= p.image_url %>" class="img-circle mx-auto d-block img-fluid" alt="Imagen de Perfil Colaborador" onerror="this.onerror=null; this.src='https://www.salonlfc.com/wp-content/uploads/2018/01/image-not-found-scaled-1150x647.png'"> </a>
                    <h5 class="card-title text-light text-center align-middle pt-2 " style="height:15% ;"><%= p.nombre %></h5> 
                </div>
            <% } %>
        </div>
    </div>
</div>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-end ">
    <li class="page-item">
        <a class="page-link bg-secondary border-white text-white" href="#" tabindex="-1">Previous</a>
    </li>
    <li class="page-item"><a class="page-link bg-secondary border-white text-white" href="#">1</a></li>
    <li class="page-item"><a class="page-link bg-secondary border-white text-white" href="#">2</a></li>
    <li class="page-item"><a class="page-link bg-secondary border-white text-white" href="#">3</a></li>
    <li class="page-item">
        <a class="page-link bg-secondary border-white text-white" href="#">Next</a>
    </li>
  </ul>
</nav>
<%- include('includes/foot.ejs') %>  

