<%- include('includes/head_form.ejs') %>
<%- include('includes/head.ejs') %>
<%- include('includes/nav.ejs') %>   
<%- include('includes/sidebar.ejs') %>  

<div class="col-sm over" style="display: -webkit-box;; box-sizing: content-box;" >
<a href="/proyectos/main" type="button" class="mt-3 text-light" style="display:block ;text-decoration: none; "> <i class=" material-icons iconSide" >arrow_back</i> Regresar</a> 
</div>

<div class="pl-4">
    <body>
        <div class="wrapper wrapper--w790">
            <div class="card card-5">
                <div class="card-heading bg-success">
                    <h2 class="title text-center"><%= titulo %></h2>
                </div>
                <div class="card-body">
                    <%- include('includes/forms/etiquetas.form.ejs') %> 
                </div>
            </div>
        </div>
</div>


<%- include('includes/foot.ejs') %> 
<%- include('includes/foot_form.ejs') %> 