<%- include('includes/head.ejs') %>
<%- include('includes/nav.ejs') %>    
<%- include('includes/sidebar.ejs') %>   
<div class="col-sm over" style="display: -webkit-box;; box-sizing: content-box;" >
<a href="/proyectos/main" button type="button" class="mt-3" style="display:block ;"> <i class="material-icons iconSide" >arrow_back</i> Regresar</a> 
</div>
<div class="pl-3">
  <h1 class="p-2 pl-4"><%= titulo %></h1>
    <div class="pl-5">
      <%- include('includes/forms/proyectos.form.ejs') %> 
    </div>

    <script>
      const accion_asincrona = () => {
        const id= document.getElementById('id').value;
        data=new Object();

        data.id= id;
        const csrf = document.getElementById('_csrf').value;

        fetch('/proyectos/delete', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'csrf-token': csrf  
            },
            body: JSON.stringify(data),
        }).then(result => {
            return result.json(); 
        }).then(data => {
            
        })
      }

    document.getElementById('eliminarp').onclick = accion_asincrona;
  </script>
</div>

<%- include('includes/foot.ejs') %> 