<%- include('includes/head.ejs') %>
<%- include('includes/navD.ejs') %>   
<%- include('includes/sidebar.ejs') %>  

<h1><%= titulo %></h1>

<a href="/proyectos/main" button type="button">Cancelar</a> 

<%- include('includes/forms/etiquetas.form.ejs') %> 
<%- include('includes/foot.ejs') %> 