<%- include('includes/head.ejs') %>
<%- include('includes/navD.ejs') %>   
<%- include('includes/sidebar.ejs') %>   
<h1><%= titulo %></h1>

<a href="/tareas/main" button type="button">Cancelar</a> 

<%- include('includes/forms/tareas.form.ejs') %> 
<%- include('includes/foot.ejs') %> 