<%- include('includes/head.ejs') %>
<%- include('includes/nav.ejs') %>   
<%- include('includes/sidebar.ejs') %>  

<a href="/proyectos/main" button type="button" class="mt-3" style="display:block ;"> <i class="material-icons iconSide" >arrow_back</i> Regresar</a> 
<div class="p-4">
    <h1 ><%= titulo %></h1>
    <!-- <h1 class="pl-5 text-uppercase"><%= etiqueta %></h1> -->
    <%- include('includes/forms/etiquetas.form.ejs') %> 
</div>

<%- include('includes/foot.ejs') %> 