<%- include('includes/head.ejs') %>
<%- include('includes/nav.ejs') %>    
<%- include('includes/sidebar.ejs') %>   

<a href="/proyectos/main" button type="button" class="mt-3" style="display:block ;"> <i class="material-icons iconSide" >arrow_back</i> Regresar</a> 
<h1 class="p-2"><%= titulo %></h1>
  <div class="pl-5">
    <%- include('includes/forms/proyectos.form.ejs') %> 
  </div>

<%- include('includes/foot.ejs') %> 