<%- include('includes/head.ejs') %>
<%- include('includes/navD.ejs') %>   
<%- include('includes/sidebar.ejs') %>   
<h1><%= titulo %></h1>

<%- include('includes/forms/etiquetas.form.ejs') %> 
<%- include('includes/foot.ejs') %> 