<%- include('includes/head.ejs') %>
<%- include('includes/nav.ejs') %>   
<%- include('includes/sidebar.ejs') %>  
<body>
<h3 class="pt-2" >Pagina Principal</h3>
<div class="pl-5 pt-1 container1">
    <h5>Proyectos activos</h5>
    <% if (proyectos.length > 0) { %>
        <div class="centered1 px-4">
            <div class="row">
            <!--Carousel Wrapper-->
            <div id="multi-item-example" class="carousel slide carousel-multi-item " data-ride="carousel">

                <!--Indicators-->
                <ol class="carousel-indicators">
                <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
                <li data-target="#multi-item-example" data-slide-to="1"></li>
                </ol>
                <!--/.Indicators-->

                <!--Slides-->
                <div class="carousel-inner" role="listbox">
                <!--First slide-->
                <div class="carousel-item active">
                    <% for (let  p of proyectos) { %>
                        <div class="col-md-4" style="float:left">
                            <a class=" list-group-card-main BotonMain  mx-2" type="button" id="<%= p.id_proyecto %>" data-toggle="modal" data-target="#exampleModal" onclick ="mostrarproyecto(id)" >
                            <div class="card mb-4 px-4  "  style="width: auto ; background-color: rgba(0,0,0,.0) !important; border-color: rgba(0,0,0,.0) !important ; ">
                                
                <!-- -----------------------IMPORTANCIA ---------------------------- -->
                                <div class="card-body  ">
                                    <div class="row">
                                
                                        <% if (p.importancia == "Alto") { %>
                                            <p class="text-truncate card-text bg-success text-white col-sm px-auto over mx-auto align-middle py-auto list-group-item-main py-1 "><%= p.importancia %></p>
                                        <% } %>
                                        <% if (p.importancia == "Medio") { %>
                                            <p class="text-truncate card-text bg-warning col-sm px-auto over mx-auto align-middle py-auto  list-group-item-main py-1"><%= p.importancia %></p>
                                        <% } %>
                                        <% if (p.importancia == "Bajo") { %>
                                            <p class="text-truncate card-text bg-light text-dark col-sm px-auto over mx-auto align-middle py-auto list-group-item-main py-1"><%= p.importancia %></p>
                                        <% } %>
                                    </div>
                                </div>
                <!-- -----------------------/IMPORTANCIA ---------------------------- -->
                <!-- ------------------------------IMAGEN Y TITULO ------------------------------------->
                                <div class="circular--landscape mx-auto img-fluid "><img src="<%= p.image_url %>"  alt="ImagenPerfilProyecto" onerror="this.onerror=null; this.src='/media/default-image.png '; style='margin-left:-25%;' "; class="circular--landscape-img" ></div>
                                <h5 class="text-truncate text-white card-title text-center align-middle pt-3 " style="height:15%;  object-fit: cover; ;"><%= p.nombre %></h5>
                <!-- -------------------------------------------STATUS----------------------------------------------- -->
                                <div class="card-body list-group-item" style="background-color: rgba(0,0,0,.0) !important; border-color:rgba(0,0,0,.0) ;" >
                                    <div class="row co"  >
                                        <% if (p.estatus == "Planeación") { %>
                                            <p style="background-color: #9B38CA !important;" class="card-text text-truncate over mx-auto align-middle py-auto  list-group-item-main" > Estatus: <br> <%= p.estatus %> </p>
                                        
                                            <% } %>
                                        <% if (p.estatus == "Diseño") { %>
                                            <p style="background-color: #00C4D0 !important;" class="text-truncate  mx-auto align-middle py-auto  list-group-item-main" > Estatus: <br> <%= p.estatus %> </p>
                                        
                                            <% } %>
                                        <% if (p.estatus == "Análisis") { %>
                                            <p style="background-color: #1A02AC !important;" class="text-truncate  mx-auto align-middle py-auto  list-group-item-main" > Estatus: <br> <%= p.estatus %> </p>
                                        
                                            <% } %>
                                        <% if (p.estatus == "Pruebas") { %>
                                            <p style="background-color: #ca3838 !important;" class="text-truncate  mx-auto align-middle py-auto  list-group-item-main" > Estatus: <br> <%= p.estatus %> </p>
                                        
                                            <% } %>
                                        <% if (p.estatus == "Mantenimiento") { %>
                                            <p style="background-color: #e0ce04 !important;" class="text-truncate  mx-auto align-middle py-auto  list-group-item-main" > Estatus: <br> <%= p.estatus %> </p>
                                        
                                            <% } %>
                                        <% if (p.estatus == "Construcción") { %>
                                            <p style="background-color: #DC6F0B !important;" class="text-truncate  mx-auto align-middle py-auto  list-group-item-main" > Estatus: <br> <%= p.estatus %> </p>
                                        
                                            <% } %>
                                        <% if (p.estatus == "Documentación") { %>
                                            <p style="background-color: #434342 !important;" class="text-truncate  mx-auto align-middle py-auto  list-group-item-main" > Estatus: <br> <%= p.estatus %> </p>
                                        
                                            <% } %>
                                        <% if (p.estatus == "Despliegue") { %>
                                            <p style="background-color: #0a752c !important;" class="text-truncate  mx-auto align-middle py-auto  list-group-item-main" > Estatus: <br> <%= p.estatus %> </p>
                                        <% } %>
                                        <% if (p.estatus == "Planficación") { %>
                                            <p style="background-color: #8d70d8 !important;" class="text-truncate  mx-auto align-middle py-auto  list-group-item-main" > Estatus: <br> <%= p.estatus %> </p>
                                        <% } %>
                                        <% if (p.estatus == "Desarrollo") { %>
                                            <p style="background-color: #0095f9 !important;" class="text-truncate  mx-auto align-middle py-auto  list-group-item-main" > Estatus: <br> <%= p.estatus %> </p>
                                        <% } %>
                                    </div>
                                </div>
                <!-- -------------------------------------------STATUS----------------------------------------------- -->
                            </div>
                        </a> 
                        </div>
                 
                        
                    <% } %>
                </div>
                <!--/.First slide-->

                <!--Second slide-->
                <div class="carousel-item">
                    <% for (let  p of proyectos2) { %>
                        <div class="col-md-4" style="float:left">
                            <a class=" list-group-card-main BotonMain  mx-2" type="button" id="<%= p.id_proyecto %>" data-toggle="modal" data-target="#exampleModal" onclick ="mostrarproyecto(id)" >
                                <div class="card mb-4 px-4  "  style="width: auto ; background-color: rgba(0,0,0,.0) !important; border-color: rgba(0,0,0,.0) !important ; ">
                                    
                    <!-- -----------------------IMPORTANCIA ---------------------------- -->
                                    <div class="card-body">
                                        <div class="row">
                                    
                                            <% if (p.importancia == "Alto") { %>
                                                <p class="text-truncate card-text bg-success text-white col-sm px-auto over mx-auto align-middle py-auto list-group-item-main py-1 "><%= p.importancia %></p>
                                            <% } %>
                                            <% if (p.importancia == "Medio") { %>
                                                <p class="text-truncate card-text bg-warning col-sm px-auto over mx-auto align-middle py-auto  list-group-item-main py-1"><%= p.importancia %></p>
                                            <% } %>
                                            <% if (p.importancia == "Bajo") { %>
                                                <p class="text-truncate card-text bg-light text-dark col-sm px-auto over mx-auto align-middle py-auto list-group-item-main py-1"><%= p.importancia %></p>
                                            <% } %>
                                        </div>
                                    </div>
                    <!-- -----------------------/IMPORTANCIA ---------------------------- -->
                    <!-- ------------------------------IMAGEN Y TITULO ------------------------------------->
                                    <div class="circular--landscape mx-auto img-fluid "><img src="<%= p.image_url %>"  alt="ImagenPerfilProyecto" onerror="this.onerror=null; this.src=this.src='/media/default-image.png '; style='margin-left:-25%;' "; class="circular--landscape-img" ></div>
                                    <h5 class="text-truncate text-white card-title text-center align-middle pt-3 " style="height:15%;  object-fit: cover; ;"><%= p.nombre %></h5>
                    <!-- -------------------------------------------STATUS----------------------------------------------- -->
                                    <div class="card-body list-group-item" style="background-color: rgba(0,0,0,.0) !important; border-color:rgba(0,0,0,.0) ;" >
                                        <div class="row co"  >
                                            <% if (p.estatus == "Planeación") { %>
                                                <p style="background-color: #9B38CA !important;" class="card-text text-truncate over mx-auto align-middle py-auto  list-group-item-main" > Estatus: <br> <%= p.estatus %> </p>
                                            
                                                <% } %>
                                            <% if (p.estatus == "Diseño") { %>
                                                <p style="background-color: #00C4D0 !important;" class="text-truncate  mx-auto align-middle py-auto  list-group-item-main" > Estatus: <br> <%= p.estatus %> </p>
                                            
                                                <% } %>
                                            <% if (p.estatus == "Análisis") { %>
                                                <p style="background-color: #1A02AC !important;" class="text-truncate  mx-auto align-middle py-auto  list-group-item-main" > Estatus: <br> <%= p.estatus %> </p>
                                            
                                                <% } %>
                                            <% if (p.estatus == "Pruebas") { %>
                                                <p style="background-color: #ca3838 !important;" class="text-truncate  mx-auto align-middle py-auto  list-group-item-main" > Estatus: <br> <%= p.estatus %> </p>
                                            
                                                <% } %>
                                            <% if (p.estatus == "Mantenimiento") { %>
                                                <p style="background-color: #e0ce04 !important;" class="text-truncate  mx-auto align-middle py-auto  list-group-item-main" > Estatus: <br> <%= p.estatus %> </p>
                                            
                                                <% } %>
                                            <% if (p.estatus == "Construcción") { %>
                                                <p style="background-color: #DC6F0B !important;" class="text-truncate  mx-auto align-middle py-auto  list-group-item-main" > Estatus: <br> <%= p.estatus %> </p>
                                            
                                                <% } %>
                                            <% if (p.estatus == "Documentación") { %>
                                                <p style="background-color: #434342 !important;" class="text-truncate  mx-auto align-middle py-auto  list-group-item-main" > Estatus: <br> <%= p.estatus %> </p>
                                            
                                                <% } %>
                                            <% if (p.estatus == "Despliegue") { %>
                                                <p style="background-color: #0a752c !important;" class="text-truncate  mx-auto align-middle py-auto  list-group-item-main" > Estatus: <br> <%= p.estatus %> </p>
                                            <% } %>
                                            <% if (p.estatus == "Planficación") { %>
                                                <p style="background-color: #8d70d8 !important;" class="text-truncate  mx-auto align-middle py-auto  list-group-item-main" > Estatus: <br> <%= p.estatus %> </p>
                                            <% } %>
                                            <% if (p.estatus == "Desarrollo") { %>
                                                <p style="background-color: #0095f9 !important;" class="text-truncate  mx-auto align-middle py-auto  list-group-item-main" > Estatus: <br> <%= p.estatus %> </p>
                                            <% } %>
                                        </div>
                                    </div>
                    <!-- -------------------------------------------STATUS----------------------------------------------- -->
                                </div>
                            </a> 
                            </div>
                        <% } %>
                    </div>
                <!--/.Second slide-->
            </div>
            <!--/.Slides-->
            <!-- ----------------------CONTROLS------------- -->
                <div class="controls">
                    <a class="carousel-control-prev " data-target="#multi-item-example" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" data-target="#multi-item-example" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div> 
            </div>
            
            <!--/.Carousel Wrapper-->
                <!-- ICONO DE FLECHA -->
                <!-- <div class="col-sm-1 over align-middle py-auto  m-2" style="display: -webkit-box;; ">
                    <a class="nav-link align-middle m-auto center-block text-center text-white" style="display: -webkit-box;; box-sizing: content-box; "  id="navbarDropdown" href="/proyectos/main" role="button" >
                        <i class="material-icons " style=" width:auto; font-size: 40px; " >arrow_forward_ios</i></a>
                </div> -->
            </div>
        </div>
    <% } else { %>
        <h2>No hay proyectos registrados</h2>
    <% } %>  
    
    <% if (tareas.length > 0) { %>
        <h5 class="mb-3">Tareas recientes</h5>
        <div class="centered1 px-4 pb-1">
            <div class="container text-center">
                <div class="row bg-secondary text-white my-2 rounded mx-1">
                    <!-- AQUI IRían LOS COLABORADORES -->
                    <div class="col-2  d-none d-lg-block d-md-block d-xl-block  text-truncate my-auto ">
                        Fecha de creación
                    </div>
                    <div class="col-xl-5 col-lg-5 col-md-4 col-sm col-xs-1  text-truncate  my-auto">
                        Descripción
                    </div>
                    <div class="col-2  d-none d-lg-block d-md-block d-sm-block d-xl-block  text-truncate my-auto">
                        Tiempo dedicado
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 d-none d-lg-block d-md-block d-xl-block text-truncate my-auto" >
                        Etiqueta
                    </div>
                    
                    
                </div>
                <div class="row">
                    <% for (let  t of tareas) { %>
                    <a type="button" id="<%= t.id_tarea %>" data-toggle="modal" data-target="#exampleModalT" onclick = "mostrartarea(id)">
                        <div class="row text-light mx-1 mb-2 rounded" style="background-color: rgba(0, 0, 0, 0.20) ;">
                            <div class="col-2  d-none d-lg-block d-md-block d-xl-block  border-right border-light text-truncate my-auto ">
                                <%=  new Date(t.fecha_creacion).toLocaleDateString("ES-mx") %>
                            </div>
                            <div class="col-xl-5 col-lg-5 col-md-4 col-sm col-xs-1 border-right border-light text-truncate  my-auto">
                                <%=  t.descripcion %>
                            </div>
                            <div class="col-2  d-none d-lg-block d-md-block d-sm-block d-xl-block border-right border-light text-truncate my-auto">
                                <%=  t.duracion.toFixed(1) %>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-4 d-none d-lg-block d-md-block d-xl-block text-truncate my-auto" style="font-size:small;">
                                <%=  t.nombre %>
                            </div>
                        </div>
                    </a>
                    <% } %>  
                </div>
            </div>
        </div>
    <% } else { %>
        <h2>No tienes participacion en tareas</h2>
    <% } %>  
    
</div>



<div id = "modal">
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content" id="modal_contenido">
            </div>
        </div>
    </div>
</div>

<div id = "modalT">
    <div class="modal fade" id="exampleModalT" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelT" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content" id="modal_contenidoT">
            </div>
        </div>
    </div>
</div>

<script src="/js/mostrarproyecto.js"> </script>
<script src="/js/mostrartarea.js"> </script>

<br><br>
<%- include('includes/footer.ejs') %>
</body> 

<%- include('includes/foot.ejs') %> 