<%- include('includes/head.ejs') %>
<%- include('includes/nav.ejs') %>   
<%- include('includes/sidebar.ejs') %>   
<!-- <h1 class="p-2">Entraste a proyectos</h1> -->
    <!-- <nav id="navbar-example2" class="navbar navbar-dark bg-dark mt-3">
    <h1 class="navbar-brand font-weight-bold">Proyectos</h1></nav> -->
    <h1 class=" pt-1 font-weight-bold">Proyectos</h1>
    <div class="row ">
        <div class="col-sm-10 over list-group-item m-2">
                <div class="overflow-auto anyClass">
                    <% if (proyectos.length > 0) { %>
                        <div class="p-2">
                            <div class="row">
                                <% for (let  p of proyectos) { %>
                                    <div class="col-sm-4 pb-3 over">
                                        <div class="card" style="width: auto;height: 29rem ; ">
                                            <h5 class="card-title bg-success text-dark text-center align-middle py-auto  list-group-item" style="height:15% ;"><a href="/proyectos/editarProyecto/<%= p.id_proyecto %>" class="text-white" ><%= p.nombre %></a></h5>
                                            <img src="<%= p.image_url %>" class="card-img-top" alt="" onerror="this.onerror=null; this.src='https://www.salonlfc.com/wp-content/uploads/2018/01/image-not-found-scaled-1150x647.png'">
                                            <div class="card-body textBlack">
                                                <div class="row">
                                                        <p class="card-text col-sm pt-2 over mx-auto align-middle py-auto  list-group-item">Importancia:</p>
                                                        <% if (p.importancia == "Alto") { %>
                                                            <p class="card-text bg-success col-sm px-auto over mx-auto align-middle py-auto  list-group-item"><%= p.importancia %></p>
                                                        <% } %>
                                                        <% if (p.importancia == "Medio") { %>
                                                            <p class="card-text bg-warning col-sm px-auto over mx-auto align-middle py-auto  list-group-item"><%= p.importancia %></p>
                                                        <% } %>
                                                        <% if (p.importancia == "Bajo") { %>
                                                            <p class="card-text bg-light text-dark col-sm px-auto over mx-auto align-middle py-auto  list-group-item"><%= p.importancia %></p>
                                                        <% } %>
                                                </div>
                                                <div class="row pt-2"  >
                                                    <p class="card-text col-sm pt-1 over mx-auto align-middle py-auto  list-group-item">Estatus:</p>
                                                        <% if (p.estatus == "Planeación") { %>
                                                            <p style="background-color: #9B38CA !important;" class="card-text col-sm  over mx-auto align-middle py-auto  list-group-item" ><%= p.estatus %></p>
                                                        <% } %>
                                                        <% if (p.estatus == "Diseño") { %>
                                                            <p style="background-color: #00C4D0 !important;" class="card-text bg-success col-sm px-auto over mx-auto align-middle py-auto  list-group-item"><%= p.estatus %></p>
                                                        <% } %>
                                                        <% if (p.estatus == "Análisis") { %>
                                                            <p style="background-color: #1A02AC !important;"class="card-text bg-success col-sm px-auto over mx-auto align-middle py-auto  list-group-item"><%= p.estatus %></p>
                                                        <% } %>
                                                        <% if (p.estatus == "Pruebas") { %>
                                                            <p style="background-color: #ca3838 !important;" class="card-text bg-success col-sm px-auto over mx-auto align-middle py-auto  list-group-item"><%= p.estatus %></p>
                                                        <% } %>
                                                        <% if (p.estatus == "Mantenimiento") { %>
                                                            <p style="background-color: #e0ce04 !important;" class="card-text bg-success col-sm px-auto over mx-auto align-middle py-auto  list-group-item"><%= p.estatus %></p>
                                                        <% } %>
                                                        <% if (p.estatus == "Construcción") { %>
                                                            <p style="background-color: #DC6F0B !important;" class="card-text bg-success col-sm px-auto over mx-auto align-middle py-auto  list-group-item"><%= p.estatus %></p>
                                                        <% } %>
                                                        <% if (p.estatus == "Documentación") { %>
                                                            <p style="background-color: #434342 !important;" class="card-text bg-success col-sm px-auto over mx-auto align-middle py-auto  list-group-item"><%= p.estatus %></p>
                                                        <% } %>
                                                        <% if (p.estatus == "Despliegue") { %>
                                                            <p style="background-color: #0a752c !important;" class="card-text bg-success col-sm px-auto over mx-auto align-middle py-auto  list-group-item"><%= p.estatus %></p>
                                                        <% } %>
                                                        <% if (p.estatus == "Planficación") { %>
                                                            <p style="background-color: #000000 !important;" class="card-text bg-success col-sm px-auto over mx-auto align-middle py-auto  list-group-item"><%= p.estatus %></p>
                                                        <% } %>
                                                        <% if (p.estatus == "Desarrollo") { %>
                                                            <p style="background-color: #48041b !important;" class="card-text bg-success col-sm px-auto over mx-auto align-middle py-auto  list-group-item"><%= p.estatus %></p>
                                                        <% } %>

                                                </div>
                                                <div class="row pt-2"  >
                                                    <p class="card-text col-sm pt-1 over mx-auto align-middle py-auto  list-group-item" >Horas</p>
                                                    <% if (p.horas == null) { %>
                                                        <p style="background-color: #1a191b !important;" class="card-text col-sm  over mx-auto align-middle py-auto  list-group-item" >0</p>
                                                    <% } else {%>
                                                        <p style="background-color: #1a191b !important;" class="card-text col-sm  over mx-auto align-middle py-auto  list-group-item" ><%= p.horas %></p>
                                                    <% } %>
                                                </div>
                                                <p class="card-text"></p>
                                                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                                            </div>
                                        </div>
                                    </div>
                                
                        <% } %>
                        <% } else { %>
                            <h2>No hay proyectos registrados</h2>
                        <% } %>  
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm over align-middle py-auto  m-2" style="display: -webkit-box;; " >
                <a class="align-middle m-auto center-block text-center text-white" style="display: -webkit-box;; box-sizing: content-box; " href="/proyectos/crearProyecto" button type="button"><i class="material-icons iconSide p-1 " style="font-size:60px;color:green;">add_circle</i> <br> Crear proyecto</a>
        </div>
    </div>

    <h1 class=" pt-1 font-weight-bold">Etiquetas</h1>
    <div class="row ">
        <div class="col-sm-8 over m-2">
            <div class="card" style="width: 50rem;">
                <ul class="list-group list-group-flush">
                    <% if (etiquetas.length > 0) { %>
                        <% for (let  e of etiquetas) { %>
                          <a href="/proyectos/editarEtiqueta/<%= e.id_proyecto %>"> <li class="list-group-item border-bottom border-dark" style="width:50rem;"> <a class="p-3" href="/proyectos/editarEtiqueta/<%= e.id_proyecto %>" ><%= e.nombre %></a></li></a> 
                        <% } %>
                    <% } else { %>
                        <h2>No hay proyectos registrados</h2>
                    <% } %> 
                </ul>
            </div>
        </div>
        <div class="col-sm over align-middle py-auto  m-2" style="display: -webkit-box;; box-sizing: content-box;" >
                <a class="align-middle m-auto center-block text-center text-white" style="display: -webkit-box;; box-sizing: content-box; " href="/proyectos/crearEtiqueta" button type="button"><i class="material-icons iconSide p-1 " style="font-size:60px;color:green;">add_circle</i> <br> Crear Etiqueta</a>
        </div>
    </div>
</div>
<%- include('includes/foot.ejs') %>





