<%- include('includes/head.ejs') %>
<%- include('includes/nav.ejs') %>   
<%- include('includes/sidebar.ejs') %>   
<!-- <h1 class="p-2">Entraste a proyectos</h1> -->
    <nav id="navbar-example2" class="navbar navbar-dark bg-dark mt-3">
    <h1 class="navbar-brand font-weight-bold">Proyectos</h1></nav>
    <div class="overflow-auto anyClass">
        <% if (proyectos.length > 0) { %>
            <div class="p-3">
                <div class="row">
                    <% for (let  p of proyectos) { %>
                            <div class="col-sm-3 pt-2 over">
                                <div class="card" style="width: 16rem;height: 25rem ; ">
                                    <h5 class="card-title bg-success text-dark h-25 text-center align-middle py-auto  list-group-item"><a href="/proyectos/editarProyecto/<%= p.id_proyecto %>" class="text-white" ><%= p.nombre %></a></h5>
                                    <img src="/media/FWPNGB&W.png" class="card-img-top" alt="">
                                    <div class="card-body textBlack">
                                        <div class="row">
                                            
                                                <p class="card-text col-sm-5 pt-2 over mx-auto">Importancia:</p>
                                                <p class="card-text bg-success col-sm-5 pt-2 over mx-auto">Alto</p>
                                            
                                        </div>
                                        <p class="card-text"></p>
                                        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                                    </div>
                                </div>
                            </div>
                    <% } %>
                    
                </div>
            </div>
        <% } else { %>
            <h2>No hay proyectos registrados</h2>
        <% } %>  
    </div>

    <h3>Etiquetas</h3>
        <% if (etiquetas.length > 0) { %>
            <div>
                <% for (let  e of etiquetas) { %>
                    <a class="p-3" href="/proyectos/editarEtiqueta/<%= e.id_proyecto %>" ><%= e.nombre %></a>
                    <!-- <button type="button" href="/proyectos/EliminarEtiqueta/<%= e.id_proyecto %>" class="btn btn-danger">Eliminar</button> -->

                    <br>
                <% } %>
                </div>
        <% } else { %>
            <h2>No hay proyectos registrados</h2>
        <% } %>  
    <br>
    <div>   
            <% if (privilegios.indexOf('Crear proyecto') > -1) { %>
                    <a href="/proyectos/crearProyecto" button type="button">Crear proyecto</a>
            <% } %>  
            <br><br>
            <% if (privilegios.indexOf('Crear etiqueta') > -1) { %>
                <a href="/proyectos/crearEtiqueta" button type="button">Crear etiqueta</a>
        <% } %>  
    </div>
</div>
<%- include('includes/foot.ejs') %>