<%- include('includes/head.ejs') %>
<%- include('includes/nav.ejs') %>   
<%- include('includes/sidebar.ejs') %>   


<h2 class="pt-2 pl-2" >Reportes</h2>

<div class="p-1">
    <div class="row">
        <div class="col pt-1 list-group-item">
            <div class="overflow-auto anyClass" style="height: 34rem !important;">
                <% if (reportes.length > 0) { %>
                    <div class="p-1">
                        <div class="row">
                        <% for (let  r of reportes) { %>
                                <div class="col-sm-4 pt-2 over">
                                    <div class="" style="width: auto; ">
                                        <p class="card-title bg-success text-dark h-25 text-center align-middle py-auto  list-group-item"><a class="text-white" ><%= new Date(r.fecha_inicio).toLocaleDateString("ES-mx")  %> 
                                        - <%= new Date(r.fecha_fin).toLocaleDateString("ES-mx")  %></a><a href="/reportes/download" class="btn btn-primary btn-sm ml-3" button type="button">Descargar</a></p>
                                        <img src="/media/templatereportes.png" class="card-img-top" alt="">
                        
                                    </div>
                                </div>
                        <% } %>
                        </div>
                    </div>
                <% } else { %>
                    <h2>No hay reportes registrados</h2>
                <% } %>  
            </div>
        </div>
    </div>
</div>

<a href="/reportes/crearReporte" class="btn btn-success" button type="button">Crear reporte</button>
<%- include('includes/foot.ejs') %>  
