<%- include('includes/head.ejs') %>
<%- include('includes/nav.ejs') %>     
<%- include('includes/sidebar.ejs') %>   

<div class="input-field">
    <i class="material-icons prefix">search</i>
    <input id="buscar" type="text">
    <label for="buscar">Buscar...</label>
</div>

<h1 class=" py-2 pl-2 font-weight-bold">Tareas</h1>
<% if (tareas.length > 0) { %>
    <div class="container text-center">
        <div class="row bg-success text-white m-2 rounded">
            <div class="col">
                Fecha de creación
            </div>
            <div class="col-5">
                Descripción
            </div>
            <div class="col">
                Duración
            </div>
            <div class="col" >
                Nombre de proyecto
            </div>
            <div class="col ">
                Acciones
            </div>
        </div>
        <div id = "tareas" class="row">
            <div class="col-sm over list-group-item">
                <div class="overflow-auto anyClass" style="height: 28rem !important;">
                    <input type="hidden" name="_csrf" id="_csrf" value="<%= csrfToken %>" >
                    <% for (let  t of tareas) { %>

                            <div class="row bg-light text-dark m-1 mt-2 border rounded">
                                <div class="col border-right border-dark">
                                    <%=  new Date(t.fecha_creacion).toLocaleDateString("ES-mx") %>
                                </div>
                                <div class="col-5 border-right border-dark">
                                    <a type="button" id="<%= t.id_tarea %>" data-toggle="modal" data-target="#exampleModal" onclick = "mostrartarea(id)"><%=  t.descripcion %></a>
                                </div>
                                <div class="col border-right border-dark">
                                    <%=  t.duracion.toFixed(2) %>
                                </div>
                                <div class="col border-right border-dark">
                                    <%=  t.nombre %>
                                </div>
                                <div class="col ">
                                    <span class="material-symbols-outlined">
                                    <a href="/tareas/editarTarea/<%= t.id_tarea %>"  >
                                        <button class = "btn btn-primary" > <i class="material-icons" >edit</i> </button>
                                        
                                    </a>
                                    </span>
                                    <button  class = "btn btn-danger" id="<%= t.id_tarea %>" type="button" class="bi bi-trash" data-toggle="modal" data-target="#exampleModal" onclick = "eliminartarea(id)" ><i class="material-icons" >delete</i></button>
                                        
                                </div>
                            </div>
                    <% } %>
                </div>
            </div>
        </div>

<% } else { %>
    <h2>No hay tareas registradas</h2>
<% } %>  
</div>
<div>
    <a href="/tareas/crearTarea">
        <button type="button" class="btn btn-primary mx-auto d-block mt-2" >
            Crear
        </button>
    </a>
</div>

<div id = "modal">
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" id="modal_contenido">
            </div>
        </div>
    </div>
</div>

<script src="/js/eliminartarea.js"> </script>
<script src="/js/mostrartarea.js"> </script>

<script>
    const accion_asincrona = () => {
        const valor = document.getElementById('buscar').value;
        
        fetch('/tareas/buscar/' + valor, {
        method: 'GET',
        }).then(result => {
            return result.json();
        }).then(data => {                
            console.log(data);
            let html = '';
            if (data.tareas.length > 0) { 
                html += '<div id = tareas class="row">'
                    html += '<div class="col-sm over list-group-item">'
                        html += '<div class="overflow-auto anyClass" style="height: 28rem !important;">'
                             html += '<input type="hidden" name="_csrf" id="_csrf" value="<%= csrfToken %>" >'
                for (t of data.tareas) {
                    html +=        '<div class="row bg-light text-dark m-1 mt-2 border rounded">'
                    html +=            '<div class="col border-right border-dark">'
                    html +=                '<%=  new Date('+t.fecha_creacion+').toLocaleDateString("ES-mx") %>'
                    html +=            '</div>'
                    html +=           ' <div class="col-5 border-right border-dark">'
                    html +=                '<a type="button" id="'+t.id_tarea+'" data-toggle="modal" data-target="#exampleModal" onclick = "mostrartarea(id)">'+  t.descripcion +'</a>'
                    html +=            '</div>'
                    html +=            '<div class="col border-right border-dark">'
                    html +=                +  t.duracion.toFixed(2) 
                    html +=            '</div>'
                    html +=            '<div class="col border-right border-dark">'
                    html +=               + t.nombre 
                    html +=            '</div>'
                    html +=            '<div class="col ">'
                    html +=               '<span class="material-symbols-outlined">'
                    html +=                '<a href="/tareas/editarTarea/'+ t.id_tarea+ '  >'
                    html +=                    '<button class = "btn btn-primary" > <i class="material-icons" >edit</i> </button>'
                    html +=                    
                    html +=                '</a>'
                    html +=               '</span>'
                    html +=                '<button  class = "btn btn-danger" id='+ t.id_tarea + ' type="button" class="bi bi-trash" data-toggle="modal" data-target="#exampleModal" onclick = "eliminartarea(id)" ><i class="material-icons" >delete</i></button>              
                    html +=           '</div>'
                    html +=       ' </div>'
                }
            } else {
                html = '<h2>No hay tareas que coincidan </h2>';
            }
        
            document.getElementById("tareas").innerHTML = html;
            }).catch(err => {
                console.log(err);
            });
    };
    
    document.getElementById('buscar').onkeyup = accion_asincrona;

</script>

<%- include('includes/foot.ejs') %>
