<%- include('includes/head.ejs') %>
<%- include('includes/nav.ejs') %>     
<%- include('includes/sidebar.ejs') %>   
<h1>Entraste a tareas</h1>

<h3>Tareas</h3>
    <% if (tareas.length > 0) { %>
        <div>
            <% for (let  t of tareas) { %>
                <a href="/tareas/editarTarea/<%= t.id_tarea %>" ><%= t.descripcion %></a>
                <br>
            <% } %>
            </div>
    <% } else { %>
        <h2>No hay proyectos registrados</h2>
    <% } %>  
<br>
<div>
    <% if (privilegios.indexOf('Agregar Tarea') > -1) { %>
            <a href="/tareas/crearTarea" button type="button">Crear tarea</button>
    <% } %>  
</div>
<%- include('includes/foot.ejs') %>